* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    overflow: hidden;
}

.container{
    background-color: #FD5D26;
    height: 600px;
    width: 550px;
    padding: 30px 40px;
    border-radius: 12px;
    overflow: scroll;
}

.inp{
    background-color: #F2C078;
    width: 350px;
    height: 50px;
    padding: 18px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
}


.input-section{
    margin-bottom: 50px;
    margin-top: 20px;
}


.add-btn{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    border: navajowhite;
    margin-left: 12px;
    font-weight: bolder;
    font-size: 22px;
    overflow: hidden;
    background-color: #FAEDCA;
    color: salmon;
}

.add-btn:hover{
    cursor: pointer;
    background-color: #a4c395;
    transition: background-color .3s ease-in-out;
}

.display-msg{
   background-color: #C1DBB4;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(70, 48, 69);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto; /* Allow content height */
    gap: 10px;
    padding: 10px 12px; Add padding;
    flex-wrap: wrap;
}


.msg{
      background-color: #C1DBB4;
    width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 22px;
    font-weight: 500;
    color: rgb(70, 48, 69);
    font-family: "Work Sans", sans-serif;
}

.delete-btn{
     background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0; /* Prevent button from shrinking */
    margin-right: 12px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover{
    cursor: pointer;    
}